<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 100%;">
        <video class="card-img-top" autoplay disablePictureInPicture loop alt="Card image cap">
          <source src="https://cdnl.iconscout.com/lottie/premium/preview-watermark/web-development-animation-download-in-lottie-json-gif-static-svg-file-formats--software-developer-computer-programming-app-seo-optimization-pack-design-animations-3420711.mp4"/>
        </video>
        <div class="card-body">
          <p class="card-text text-center">Web Development</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 100%;">
        <video class="card-img-top" autoplay disablePictureInPicture loop alt="Card image cap">
          <source src="https://cdnl.iconscout.com/lottie/free/preview/free-mobile-development-animated-icon-download-in-lottie-json-gif-static-svg-file-formats--app-setting-configuration-application-smartphone-pack-user-interface-icons-7544216.mp4"/>
        </video>
        <div class="card-body">
          <p class="card-text text-center">Mobile Development</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 100%;">
        <video class="card-img-top" autoplay disablePictureInPicture loop alt="Card image cap">
          <source src="https://cdnl.iconscout.com/lottie/premium/thumb/artificial-intelligence-animated-icon-download-in-lottie-json-gif-static-svg-file-formats--technology-robot-ai-pack-laboratory-icons-7440751.mp4"/>
        </video>
        <div class="card-body">
          <p class="card-text text-center">AI</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 100%;">
        <video class="card-img-top" autoplay disablePictureInPicture loop alt="Card image cap">
          <source src="https://cdnl.iconscout.com/lottie/premium/thumb/big-data-animated-icon-download-in-lottie-json-gif-static-svg-file-formats--server-database-network-storage-cloud-computing-pack-communication-icons-9435983.mp4"/>
        </video>
        <div class="card-body">
          <p class="card-text text-center">Big Data</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 100%;">
        <video class="card-img-top" autoplay disablePictureInPicture loop alt="Card image cap">
          <source src="https://cdnl.iconscout.com/lottie/free/thumb/free-blockchain-technology-animation-download-in-lottie-json-gif-static-svg-file-formats--cash-financial-digital-business-marketing-crypto-pack-science-animations-9571769.mp4"/>
        </video>
        <div class="card-body">
          <p class="card-text text-center">Blockchain</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 100%;">
        <video class="card-img-top" autoplay disablePictureInPicture loop alt="Card image cap">
          <source src="https://cdnl.iconscout.com/lottie/free/preview/free-web-designer-setting-up-layout-animation-download-in-lottie-json-gif-static-svg-file-formats--set-programming-office-website-design-pack-people-animations-4308322.mp4"/>
        </video>
        <div class="card-body">
          <p class="card-text text-center">Web Scraping</p>
        </div>
      </div>
    </div>
  </div>
</div>
