<div class="container mt-5 mb-5">
  <div class="row no-gutters">
    <div class="col-md-4 col-lg-4 profile-img"><img src="assets/profile.jpg"></div>
    <div class="col-md-8 col-lg-8">
      <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white aboutme-title">
          <h3 class="display-5 m-auto">
            <span class="typed-text">{{displayedTextAboutMe}}</span>
          </h3><i class="fa fa-facebook"></i><i class="fa fa-google"></i><i class="fa fa-youtube-play"></i><i class="fa fa-dribbble"></i><i class="fa fa-linkedin"></i></div>
        <div class="p-3 bg-black text-white">
          <h6>
            <span class="typed-text">{{ displayedTextDegree}}</span>
          </h6>
        </div>
        <div class="d-flex flex-row text-white p-3 bg-dark typing-container">
            <span class="typed-text">{{ displayedTextDesc}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
