<div class="container">
  <!-- Smart Conseil -->
  <div class="d-flex align-items-center">
    <div class="horizline1"></div>
    <h4 class="text-center title">Summer Internship</h4>
    <div class="horizline2"></div>
  </div>
  <div class="d-flex flex-column flex-md-row mt-3 align-items-center smart-conseil">
    <img src="assets/smart-conseil.png" class="img" alt="Smart Conseil Logo" />
    <section class="desc d-flex flex-column mt-3 mt-md-0">
      <div class="d-flex justify-content-between">
        <div>
          <span class="subtitle">Company:</span>
          <span class="value ms-2">Smart Conseil</span>
        </div>
        <div>
          <span class="subtitle">Duration:</span>
          <span class="value ms-2">3 months</span>
        </div>
      </div>
      <p class="mt-4 border border-1 rounded p-3">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
    </section>
  </div>

  <!-- Lexpert Business -->
  <div class="mt-5 d-flex align-items-center">
    <div class="horizline1"></div>
    <h4 class="text-center title">Summer Internship</h4>
    <div class="horizline2"></div>
  </div>
  <div class="d-flex flex-column-reverse flex-md-row mt-3 align-items-center" appSlideInOn>
    <section class="desc d-flex flex-column mt-3 mt-md-0">
      <div class="d-flex justify-content-between">
        <div>
          <span class="subtitle">Company:</span>
          <span class="value ms-2">Lexpert Business</span>
        </div>
        <div>
          <span class="subtitle">Duration:</span>
          <span class="value ms-2">1 month</span>
        </div>
      </div>
      <p class="mt-4 border border-1 rounded p-3">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </section>
    <img src="assets/lexpert.png" class="img mt-3 mt-md-0" alt="Lexpert Business Logo" />
  </div>
</div>
